* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  border-top: 1px solid transparent;
}

.frame {
  position: relative;
  height: 70%;
  width: 35%;
  border: 10px solid black;
  overflow: hidden;
  border-radius: 10px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

.frame:hover img {
  transform: scale(1.5);
}

.frame:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;

  background: linear-gradient(
    to bottom,
    rgba(128, 128, 128, 0.346),
    rgba(255, 0, 0, 0.315)
  );
  opacity: 0;
}
