@font-face {
  font-family: mera;
  src: url(./latest.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: mera;
  background-color: rgba(218, 218, 218, 0.858);
}

main {
  height: 100%;
  width: 100%;
}

nav {
  padding: 15px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.left #logo {
  width: 110px;
}

#logo img {
  height: 100%;
  width: 100%;
}

.left #links {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 20px;
  font-weight: 400;
}

.right-links {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 14px;
  font-weight: 400;
}

#user {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

#more {
  display: none;
}

#show-860 {
  display: none;
  gap: 20px;
  font-size: 20px;
}

@media (max-width: 860px) {

    nav{
        padding: 10px 45px;
    }
  .left #links {
    display: none;
  }

  #show-860 {
    display: flex;
  }

  .hide-860 {
    display: none;
  }
}

@media (max-width: 970px) {
  .hide-900 {
    display: none;
  }

  #more {
    display: block;
  }
}

@media (max-width: 1110px) {
  .hide-1110 {
    display: none;
  }
}

@media (max-width: 600px) {
  nav {
    background-color: red;
  }
}
